@using ComputerStore.WebUI.Models
@using ComputerStore.WebUI.HtmlHelpers
@model  ComponentListViewModel

@{
    ViewBag.Title = "Computer Components";
}

@foreach (var p in @Model.ComputerComponents)
{
   @Html.Partial("ComputerComponentSummary",p)
}
<div class="btn-group pull-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List",
        new { page = x, category = Model.CurrentCategory }))
</div>



