@model ComputerStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "GameStore: Order Form";
}
<h2>Place your order now</h2>
<p>Please enter your contact details !</p>
@using (Html.BeginForm())
{@Html.ValidationSummary();
    <h3>Information</h3>
    <div class="form-group">
        <label>Your Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Delivery address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }

    <h3>Options</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Use gift wrapping?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Process the order" />
    </div>
}