@{
    ViewBag.Title = "Order processed";
}
<h2>Order Processed</h2>
<p>Thank you for choosing us for buying components for computer! The order will be sent to the delivery service as soon as possible.</p>